@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300;1,600&family=Poppins:wght@400;500;600;700&display=swap');



main_container{
  display: grid;
  grid-template-areas: 
  'header1 header1 header1 header1'
  'header2 header2 header2 header2'  ;
}

.margin_left{
  margin-left: 0.7em;
}

.bold_text{
  font-weight: bolder;
}

.hover_property:hover
{
  cursor: pointer;
  border: solid white 1px;
}

.header1_container{
  background-color: #0F1111;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  padding: 1em;
  grid-area: header1;
}

.amazon_logo{
  width: 6em;
  padding: 0.8em 0 0 0;
}

.location_container{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1em 5em;
  align-items: center;
  
}

.fa-location-dot{
  padding: 0.9em 0 0 0;
  color: white;
  
}

.deliver_to_india_text{
  display: grid;

}

.deliver_to_text{
  font-weight: bold;
}

#shopping_items_drop_down_list{
  color: black;
  background-color: white;
  width: 3em;
  height: 2.92em;
  border-radius: 2% ;
  border: 0.1px solid rgb(240, 235, 235);
  box-shadow: 0px 0px 20px;
  margin: 0.2em 0 0 0;
}

.search_box_container, .shopping_cart{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.search_box{
  width: 30em;
  height: 2.5em;
  border-radius: 2% ;
  background-color: white;
  color: black;
}

.search_button{
  background-color: rgb(221, 182, 111);
  border: none;
  border-radius: 5%;

}

.fa-magnifying-glass{
  padding: 0.2em;
  font-size: 25px;
  height: 1.45em;
}

.usa_flag{
  width: 2em;
  margin-top: 0.6em;
 
}

.hello_sign_in_accounts_container{
  width: 8em;
}

/* ----------------------------------Header1 End -------------------------------------------------*/

.header2_container{
  background-color: rgb(37, 31, 69);
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  padding: 0.75em;
  grid-area: header2;
}

.fathers_day_container{
 margin: 0 0 0 28em;

}



.container_for_row3_4_5{
  background-image: url(images/header_image.jpg);
  background-size: contain;
  height: 50em;
  background-repeat:no-repeat ;
}

.amazon_india_text{
  padding: 0.5em;
  margin: 16em 0 0 1em;
  text-align: center;
  width: 65em;
  position: absolute;
  color: black;
  background-color: white;
}

.row5_container{
  width: 95%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 0 0 0;
  gap: 1em;
  position: absolute;
  margin: 20em 0 0 2em;
}

.row5_box1,.row5_box2,.row5_box3{
  background-color: white;
  color: black;
  font-weight: bolder;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  
}

.small_images{
  width: 7em;
}

.margin_bottom{
  margin-bottom: 1em;
}

.margin_top{
  margin-top: 1em;
}

.small_text{
  font-size: 15px;
  font-weight: 100;
  text-align: center;
}

.beauty_image_container{
  padding: 1em;
}

.big_image{
  height: 15em;
  width: 15em;
}

